.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    url(https://images7.alphacoders.com/336/336285.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.Board {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Tile {
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.1rem solid black;
}
.Restart {
  margin: 1rem;
  border: 0.1rem solid black;
  padding: 0.6rem;
  width: 6rem;
  border-radius: 1rem;
  opacity: 0.8;
  font-weight: bold;
}
.Restart:hover {
  opacity: inherit;
  transition: 0.3s;
}
